/*--------------------------------------------------------------
# Search Form
--------------------------------------------------------------*/
.search-form-wrap {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    transition: 0.3s all ease;
    visibility: hidden;
    opacity: 0;
  }
  
  /* Rest of the styles related to search form */
  